/*
    Import Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}

.container {
    margin-top: 20px;
}

.image {
    position: absolute;
    width: 30%;
    height: auto;
    margin-left: 55%;
}

#text1 {
    /*Wrap line at 40%*/
    width: 50%;
}